# Virtual environments
venv/

# Dev scripts and secrets
bin/dev
secrets.env

# Git and version control
.git
.gitignore

# IDE-specific files
.idea/
.vscode/

# Cache and temporary files
__pycache__/
*.py[cod]
*$py.class
*.log
*.tmp
