# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs and temporary files
*.log
*.tmp

# Secrets
secrets.env
config.json

# IDE specific files
.idea/
.vscode/

# Linters and formatters
.pre-commit-config.yaml
.pylintrc
.style.yapf

# Temporary data
app/data/welcome.txt
